<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý sản phẩm</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this page -->
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">



    <!-- Sidebar -->
    <div th:replace="~{/layout :: header-left}"></div>
    <!-- End of Sidebar -->




    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">




            <!-- Topbar -->
            <div th:replace="~{/layout :: header-top}"></div>
            <!-- End of Topbar -->





            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-primary">Cấu hình sản phẩm chính</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên</th>
                                    <th>Mô tả</th>
                                    <th>CPU</th>
                                    <th>RAM</th>
                                    <th>Màu</th>
                                    <th>Thương hiệu</th>
                                    <th>Giá</th>
                                    <th>HHD</th>
                                    <th>SSD</th>
                                    <th>Card</th>
                                    <th>Màn hình</th>
                                    <th>
                                        <a class="btn btn-primary btn-icon-split" th:href="@{/addConfiguration}">
                                            <span class="text">Tạo mới</span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="configuration: ${configurations}">
                                    <td th:text="${configuration.id}"></td>
                                    <td th:text="${configuration.name}"></td>
                                    <td th:text="${configuration.description}"></td>
                                    <td th:text="${configuration.cpu}"></td>
                                    <td th:text="${configuration.ram}"></td>
                                    <td th:text="${configuration.color}"></td>
                                    <td th:text="${configuration.trademark}"></td>
                                    <td th:text="${configuration.price}"></td>
                                    <td th:text="${configuration.hhd}"></td>
                                    <td th:text="${configuration.ssd}"></td>
                                    <td th:text="${configuration.card}"></td>
                                    <td th:text="${configuration.screen}"></td>
                                    <td style="display: flex">
                                        <a th:href="@{/editConfiguration?id={id}(id=${configuration.id})}" class="btn btn-warning btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="far fa-edit"></i>
                          </span>
                                        </a>
                                        <a th:href="@{/deleteConfiguration?id={id}(id=${configuration.id})}" class="btn btn-danger btn-icon-split delete-product">
                          <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                          </span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->



        <!-- Footer -->
        <div th:replace="~{/layout :: footer}"></div>
        <!-- End of Footer -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="~{/layout :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}" ></script>

<!-- Page level custom scripts -->
<script th:src="@{js/demo/datatables-demo.js}" ></script>

</body>

</html>
