<div class="container">
    <div class="row">
        <div class="col-md-9 product">
            <div class="row">
                <div class="col-md-5">
                    <div class="box-img">
                        <img src={{productDetail?.imageString}} alt="" style="width: 100%">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="title">
                        <h2>{{productDetail?.name}}</h2>
                    </div>
                    <div class="price">
                        <h2 >{{productDetail?.price | currency: 'CLP' :' '}} đ</h2>
                    </div>
                    <div class="khuyen-mai">
                        <h2>Chọn thêm 1 trong những khuyến mãi sau</h2>
                        <div class="box-khuyen-mai">
                            <p style="color: red;font-weight: bold;">Giá :
                                {{productDetail?.price | currency: 'CLP' :' '}} đ</p>
                            <p>Đã tiết kiệm : <span
                                    style="color: red;">{{productDetail?.priceSale - productDetail?.price| currency: 'CLP':' '}} đ</span>
                            </p>
                        </div>
                    </div>
                    <div class="buy-add">
                        <button class="btn btn-success" routerLink="/cart"
                            (click)="cartService.addItem(productDetail)">Mua ngay</button>
                        <button class="btn btn-warning" data-toggle="modal" data-target ="#addItem"  (click)="cartService.addItem(productDetail)">Thêm vào giỏ
                            hàng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="chinh-sach">
                <div class="order">
                    <span class="material-icons" style="color: #53c305;">
                        airport_shuttle
                    </span>
                    <span style="margin-left : 10px;color: #53c305;font-size: 12px;">Sản phẩm được giao hàng miễn
                        phí</span>
                    <hr>
                </div>
                <div class="doi-tra">
                    <p>Chính sách bán hàng</p>
                    <ul>
                        <li><span class="material-icons">
                                check_circle_outline
                            </span><span>Cam kết chính hãng 100%</span></li>
                        <li><span class="material-icons">
                                directions_car
                            </span><span>Miễn phí giao hàng từ 500k</span></li>
                        <li><span class="material-icons">
                                restore
                            </span><span>Đổi trả miễn phí trong 1 ngày</span></li>
                    </ul>
                    <p>Dịch vụ khác</p>
                    <ul>
                        <li><span class="material-icons">
                                settings
                            </span><span>Sửa chữa đồng giá 150k</span></li>
                        <li><span class="material-icons">
                                laptop
                            </span><span>Vệ sinh máy tính, laptop</span></li>
                        <li><span class="material-icons">
                                verified_user
                            </span><span>Bảo hành tại nhà</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 cung-thuong-hieu">
            <h2>Sản phẩm tương tự</h2>
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
<div ngxSlickItem *ngFor="let product of productListAll" class="slide">
    <div class="box-item " [routerLink]="['/products',product.id]" (click)="reload()">
        <img *ngIf ="product.imageString" src={{product.imageString}}  alt="" style="width : 100%">
        <img *ngIf ="!product.imageString" src="../../assets/images/no-image-icon-6.png" alt="" style="width : 100%">
        <div class="detail">
            <p>{{product.name}}</p>
            <span
                style="color: red;font-weight: bold; margin-right: 10px;">{{product?.price | currency : "CLP" : " "}} đ</span>
            <span style="text-decoration: line-through;">{{product?.priceSale | currency:"CLP" : " "}} đ</span>
        </div>
    </div>
</div>
</ngx-slick-carousel>

        </div>  
        <div class="col-md-12 des-product">
            <div class="col-md-8">
                <div class="des">
                    <h2>Mô tả sản phẩm</h2>
                    <p> Đang cập nhật...</p>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Thông số kĩ thuật</h2>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <td style="width: 40%">Thương hiệu</td>
                        <td scope="col">{{productDetail?.tradeMark}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Bảo hành</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td scope="row">Kích thước</td>
                        <td>{{productDetail?.graphic}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Ram</td>
                        <td>{{productDetail?.ram}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Pin</td>
                        <td>{{productDetail?.pin}}</td>
                      </tr>
                      <tr>
                        <td scope="row">CPU</td>
                        <td>{{productDetail?.productConfiguration?.cpu}}</td>
                      </tr>
                      <tr>
                        <td scope="row">ổ cứng HHD</td>
                        <td>{{productDetail?.productConfiguration?.hhd}}</td>
                      </tr>
                      <tr>
                        <td scope="row">ổ cứng SSD</td>
                        <td>{{productDetail?.productConfiguration?.ssd}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Card</td>
                        <td>{{productDetail?.productConfiguration?.card}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-12 cung-thuong-hieu">
            <h2>Cùng thương hiệu {{productDetail?.tradeMark}}</h2>
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
<div ngxSlickItem *ngFor="let product of productList" class="slide">
    <div class="box-item " [routerLink]="['/products',product.id]" (click)="reload()">
        <img *ngIf ="product.imageString" src={{product.imageString}}  alt="" style="width : 100%">
        <img *ngIf ="!product.imageString" src="../../assets/images/no-image-icon-6.png" alt="" style="width : 100%">
        <div class="detail">
            <p>{{product.name}}</p>
            <span
                style="color: red;font-weight: bold; margin-right: 10px;">{{product?.priceSale | currency : "CLP" : ""}} đ</span>
            <span style="text-decoration: line-through;">{{product?.price | currency:"CLP" : ""}} đ</span>
        </div>
    </div>
</div>
</ngx-slick-carousel>
<div class="modal fade" id="addItem" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>Thêm vào giỏ hàng thành công</p>
        </div>
      </div>
      
    </div>
  </div>
</div>