<div class="container">
    <div class="row">
        <div class="slider-top col-md-12">
            <div class="row">
                <!-- <div class="col-md-4">  
                        <div class="menu-cate menu-quick-select">
                                <div class="menu-cate-title">
                                    <span class="material-icons">
                                        view_list
                                        </span>
                                        <span>Danh mục sản phẩm</span>
                                    <i class="fa fa-chevron-circle-down"></i>
                                </div>
                            <ul class="menu-cate-content">
                                    <li>
                                        <a href="/san-pham/may-anh-may-quay-phim-1130">
                                                <i class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_7-20x20_png_pagespeed_ce_kzOx8kw31-.png"></i>
                                            Máy ảnh &amp; Máy quay phim<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/may-quay-phim">Máy quay phim</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/may-quy-phim-sony">Máy quy phim Sony</a></li>
                                                                        <li><a href="/san-pham/may-quay-phim-panasonic">Máy quay phim Panasonic</a></li>
                                                                        <li><a href="/san-pham/may-quay-phim-canon">Máy quay phim Canon</a></li>
                                                                        <li><a href="/san-pham/may-quay-phim-jvc">Máy quay phim JVC</a></li>
                                                                </ul>
                                                        </li>
                                                        <li>
                                                            <a href="/san-pham/may-anh-so-1140">Máy ảnh số</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/may-anh-canon">Máy ảnh Canon</a></li>
                                                                        <li><a href="/san-pham/may-anh-panasonic">Máy ảnh Panasonic</a></li>
                                                                        <li><a href="/san-pham/may-anh-samsung">Máy ảnh Samsung</a></li>
                                                                        <li><a href="/san-pham/may-anh-sony">Máy ảnh Sony</a></li>
                                                                        <li><a href="/san-pham/may-anh-nikon">Máy ảnh Nikon</a></li>
                                                                        <li><a href="/san-pham/may-anh-casio-1411">Máy ảnh Casio</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/bo-do-the-thao-nam-1139">Bộ Đồ Thể Thao Nam</a>
                                                        </li>
                                                        <li>
                                                            <a href="/san-pham/phu-kien">Phụ kiện</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/chan-may">Ch&#226;n máy</a></li>
                                                                        <li><a href="/san-pham/pin--sac">Pin, Sạc</a></li>
                                                                        <li><a href="/san-pham/the-nho">Thẻ nhớ</a></li>
                                                                        <li><a href="/san-pham/lens-hood">Lens hood</a></li>
                                                                        <li><a href="/san-pham/bo-ve-sinh">Bộ vệ sinh</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="/san-pham/may-de-ban---laptop">
                                                <i class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_5-20x20_png_pagespeed_ce_ou8xCNG4YJ.png"></i>
                                            Máy để b&#224;n &amp; Laptop<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/may-de-ban">Máy để b&#224;n</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/may-tinh-hp">Máy t&#237;nh HP</a></li>
                                                                        <li><a href="/san-pham/may-tinh-dell">Máy tinh Dell</a></li>
                                                                        <li><a href="/san-pham/may-tinh-lenovo">Máy tinh Lenovo</a></li>
                                                                        <li><a href="/san-pham/may-tinh-acer">Máy tinh Acer</a></li>
                                                                        <li><a href="/san-pham/may-tinh-asus">Máy tinh Asus</a></li>
                                                                </ul>
                                                        </li>
                                                        <li>
                                                            <a href="/san-pham/phu-kien-may-tinh">Phụ kiện máy t&#237;nh</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/tui-xach">T&#250;i xách</a></li>
                                                                        <li><a href="/san-pham/ram">Ram</a></li>
                                                                        <li><a href="/san-pham/pin---sac">Pin &amp; Sạc</a></li>
                                                                        <li><a href="/san-pham/ban-phim---chuot">B&#224;n ph&#237;m &amp; chuột</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/laptop">Laptop</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/laptop-dell">Laptop Dell</a></li>
                                                                        <li><a href="/san-pham/laptop-asus">Laptop Asus</a></li>
                                                                        <li><a href="/san-pham/laptop-acer">Laptop Acer</a></li>
                                                                        <li><a href="/san-pham/laptop-hp">Laptop Hp</a></li>
                                                                        <li><a href="/san-pham/laptop-sony">Laptop Sony</a></li>
                                                                        <li><a href="/san-pham/laptop-lenovo">Laptop Lenovo</a></li>
                                                                        <li><a href="/san-pham/laptop-toshiba">Laptop Toshiba</a></li>
                                                                        <li><a href="/san-pham/laptop-samsung">Laptop Samsung</a></li>
                                                                        <li><a href="/san-pham/laptop-apple">Laptop Apple</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="/san-pham/dien-thoai-1132">
                                                <i class="icon-menu fa "></i>
                                            Điện thoại<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/dien-thoai-di-dong">Điện thoại di động</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/dien-thoai-samsung">Điện thoại Samsung</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-sony">Điện thoại Sony</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-iphone">Điện thoại IPhone</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-lg">Điện thoại LG</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-nokia">Điện thoại Nokia</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-asus">Điện thoại Asus</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-htc">Điện thoại HTC</a></li>
                                                                        <li><a href="/san-pham/dien-thoai-lenovo">Điện thoại Lenovo</a></li>
                                                                </ul>
                                                        </li>
                                                        <li>
                                                            <a href="/san-pham/phu-kien-dien-thoai">Phụ kiện điện thoại</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/pin-dien-thoai">Pin điện thoại</a></li>
                                                                        <li><a href="/san-pham/sac-dien-thoai">Sạc điện thoại</a></li>
                                                                        <li><a href="/san-pham/bao-da">Bao da</a></li>
                                                                        <li><a href="/san-pham/phu-kien-khac">Phụ kiện khác</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/dien-thoai-co-dinh">Điện thoại cố định</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/dien-thoai-panasonic">Điện thoại Panasonic</a></li>
                                                                        <li><a href="/san-pham/hang-khac">H&#227;ng khác</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="/san-pham/may-tinh-bang">
                                                <i class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_3-20x20_png_pagespeed_ce_j-iqkcibbN.png"></i>
                                            Máy t&#237;nh bảng<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/theo-hang">Theo h&#227;ng</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/tablet-apple">Tablet Apple</a></li>
                                                                        <li><a href="/san-pham/tablet-samsung">Tablet Samsung</a></li>
                                                                        <li><a href="/san-pham/tablet-acer">Tablet Acer</a></li>
                                                                        <li><a href="/san-pham/tablet-asus">Tablet Asus</a></li>
                                                                        <li><a href="/san-pham/tablet-sony">Tablet Sony</a></li>
                                                                        <li><a href="/san-pham/tablet-coby">Tablet Coby</a></li>
                                                                        <li><a href="/san-pham/tablet-msi">Tablet MSI</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/phu-kien-tablet">Phụ kiện Tablet</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/tui-xach-cho-tablet">T&#250;i xách cho Tablet</a></li>
                                                                        <li><a href="/san-pham/case--op-lung">Case, Ốp lưng</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="/san-pham/thoi-trang">
                                                <i class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_4-20x20_png_pagespeed_ce_J1kY_BybUA.png"></i>
                                            Thời trang<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/thoi-trang-nam">Thời trang nam</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/giay-dep-nam">Giầy d&#233;p nam</a></li>
                                                                        <li><a href="/san-pham/tui---vi-nam">T&#250;i &amp; V&#237; nam</a></li>
                                                                        <li><a href="/san-pham/phu-kien-nam">Phụ kiện nam</a></li>
                                                                        <li><a href="/san-pham/quan-ao-nam">Quần áo nam</a></li>
                                                                </ul>
                                                        </li>
                                                        <li>
                                                            <a href="/san-pham/trang-suc----dong-ho">Trang sức  &amp; Đồng hồ</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/trang-suc-thoi-trang">Trang sức thời trang</a></li>
                                                                        <li><a href="/san-pham/trang-suc-cao-cap">Trang sức cao cấp</a></li>
                                                                        <li><a href="/san-pham/dong-ho-thoi-trang">Đồng hồ thời trang</a></li>
                                                                        <li><a href="/san-pham/dong-ho-cao-cap">Đồng hồ cao cấp</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/thoi-trang-nu">Thời trang nữ</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/phu-kien-nu">Phụ kiện nữ</a></li>
                                                                        <li><a href="/san-pham/tui---vi-nu">T&#250;i &amp; V&#237; nữ</a></li>
                                                                        <li><a href="/san-pham/quan-ao-nu">Quần áo nữ</a></li>
                                                                        <li><a href="/san-pham/giay-dep-nu">Giầy d&#233;p nữ</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="/san-pham/hang-gia-dung">
                                                <i class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_9-20x20_png_pagespeed_ce_G4vH-e1_d9.png"></i>
                                            H&#224;ng gia dụng<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                        </a>
                                            <div class="sub-menu hidden-xs">
                                                <ul class="colum0">
                                                        <li>
                                                            <a href="/san-pham/do-dung-gia-dinh">Đồ d&#249;ng gia đ&#236;nh</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/quat-may---quat-phun-suong">Quạt máy &amp; quat phun sương</a></li>
                                                                        <li><a href="/san-pham/ban-la">B&#224;n l&#224;</a></li>
                                                                        <li><a href="/san-pham/may-xay-toc">Máy xấy t&#243;c</a></li>
                                                                        <li><a href="/san-pham/may-hut-bui">Máy h&#250;t bụi</a></li>
                                                                        <li><a href="/san-pham/binh-tam-nuoc-nong">B&#236;nh tắm nước n&#243;ng</a></li>
                                                                        <li><a href="/san-pham/may-loc-nuoc">Máy lọc nước</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                                <ul class="colum1">
                                                        <li>
                                                            <a href="/san-pham/do-dung-nha-bep">Đồ d&#249;ng nh&#224; bếp</a>
                                                                <ul class="subview-menu">
                                                                        <li><a href="/san-pham/noi-com-dien">Nồi cơm điện</a></li>
                                                                        <li><a href="/san-pham/noi-ap-suat">Nồi áp suất</a></li>
                                                                        <li><a href="/san-pham/bep-ga">Bếp ga</a></li>
                                                                        <li><a href="/san-pham/bep-dien-tu">Bếp điện tử</a></li>
                                                                        <li><a href="/san-pham/bep-hong-ngoai">Bếp hồng ngoại</a></li>
                                                                        <li><a href="/san-pham/lo-vi-song">L&#242; vi s&#243;ng</a></li>
                                                                        <li><a href="/san-pham/lo-nuong">L&#242; nướng</a></li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                            </div>
                                    </li>
                            </ul>
                        </div>
                    </div>   -->

                <div class="col-md-8">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                            <img src="{{ slide.img }}" alt="" width="100%">
                        </div>

                    </ngx-slick-carousel>
                </div>
                <div class="col-md-4">
                    <div class="item-banner">
                        <img style="width : 100%;height: 100%;"
                            src="https://promotions.newegg.com/FlagShip/ABS/img/banner_large.jpg" alt="">
                    </div>
                    <div class="item-banner">
                        <img style="width : 100%;height: 100%;"
                            src="https://www.fiercepc.co.uk/media/wysiwyg/PC-BUNDLE-BANNER.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="banner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-image-banner">
                            <img src="https://lh3.googleusercontent.com/-SN6Hr9dZG41RKMF7OUYEpOiQ_zVkGB_nfSB2ErTy4I4JvGroB2j6iLRxRrXGaVBkcCx08L-2l7QcKGDkk6G=w395-rw"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-image-banner">
                            <img src="https://lh3.googleusercontent.com/ClkbY8L9xVFZ4bnfX5YP0cE6t2LW4YkISdpFL7lsOr8h2EC6Mw-13tob6_wHNRhKAdnIoV2yVjnuO-tpDw=w395-rw"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-image-banner">
                            <img src="https://lh3.googleusercontent.com/ziDv0Uyfv8Uo_DzgKvgaZRaymj8oJ428F19xZGLwHLWD2VqXO2CO2USziIdYkfn50f6FQpsw8f_p8xq0dQ=w395-rw"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-left">
                <div class="support-live">
                    <div class="title">
                        <h2>Hỗ trợ trực tuyến</h2>
                    </div>
                    <div class="contact">
                        <div class="staff">
                            <span class="material-icons" style=" font-size: 16px;
                        margin-right: 10px;
                    
                        padding: 5px;
                        background: #0010d4;
                        border-radius: 50%;
                        color: #fff;">
                                call
                            </span>
                            <span>Mr.Kiên : (03) 403 9718</span>
                        </div>
                        <div class="staff">
                            <span class="material-icons" style=" font-size: 16px;
                        margin-right: 10px;
                        padding: 5px;
                        background: #0010d4;
                        border-radius: 50%;
                        color: #fff;">
                                call
                            </span>
                            <span>Mr.Thuyên : (03) 403 9718</span>
                        </div>
                        <div class="email staff">
                            <span class="material-icons" style="font-size: 16px;
                        margin-right: 10px;
                        padding: 5px;
                        background: #0010d4;
                        border-radius: 50%;
                        color: #fff;">
                                email
                            </span>
                            <span>thienancomputersupport@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="product-selling">
                    <div class="title">
                        <h2>Sản phẩm bán chạy</h2>
                    </div>
                    <div class="box-item1">
                        <div class="item1" *ngFor="let product of productListSell"
                            [routerLink]="['/products',product.id]">
                            <div class="box-image">
                                <img *ngIf="product.imageString" src={{product.imageString}} alt=""
                                    style="width : 70px">
                                <img *ngIf="!product.imageString" src="../../assets/images/no-image-icon-6.png" alt=""
                                    style="width : 70px">

                            </div>
                            <div class="des">
                                <p>{{product.name}}</p>
                                <span
                                    style="color: red; margin-right: 20px;font-size: 12px;">{{product.price| currency : 'CLP' :''}}đ</span>
                                <span
                                    style="text-decoration: line-through; font-weight: normal;font-size: 12px;">{{product.priceSale | currency : 'CLP' :''}}đ</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 new-product">
                    <p style="border-bottom: 1px solid #ebebeb;
                    height: 40px;"><span style="padding: 10px;
                    background: #0010d4;
                    color: #fff;
                    position: absolute;">Sản phẩm mới</span></p>
                </div>
                <hr>
                <div class="col-md-3 item" *ngFor="let product of productList">
                    <div class=" box-item " [routerLink]="['/products',product.id]">
                        <img *ngIf="product.imageString" src={{product.imageString}} alt="" style="width : 100%">
                        <img *ngIf="!product.imageString" src="../../assets/images/no-image-icon-6.png" alt=""
                            style="width : 100%">

                        <div class="detail">
                            <p>{{product.name}}</p>
                            <div style="text-align: left;">
                                <span
                                    style="color: #0010d4;font-weight: bold; margin-right: 10px;">{{product.price | currency : 'CLP' :''}}đ</span>
                                <br>
                                <span
                                    style="text-decoration: line-through;color: #b0a4a4;font-size: 12px;">{{product.priceSale | currency : 'CLP' :''}}đ</span>
                            </div>
                        </div>

                    </div>
                    <!-- <button class="btn btn-success" (click)="addProductToCart(product)">thêm vào giỏ hàng</button> -->
                </div>
                <div class="col-md-12 san-pham-noi-bat">
                    <p style="border-bottom: 1px solid #ebebeb;
                    height: 40px;"><span style="padding: 10px;
                    background: #0010d4;
                    color: #fff;
                    position: absolute;">Sản phẩm nổi bật</span></p>
                </div>
                <div class="col-md-3 item" *ngFor="let product of productList">
                    <div class=" box-item " [routerLink]="['/products',product.id]">
                        <img *ngIf="product.imageString" src={{product.imageString}} alt="" style="width : 100%">
                        <img *ngIf="!product.imageString" src="../../assets/images/no-image-icon-6.png" alt=""
                            style="width : 100%">

                        <div class="detail">
                            <p>{{product.name}}</p>
                            <span
                                style="color: red;font-weight: bold; margin-right: 10px;">{{product.priceSale | currency : 'CLP' :''}}đ</span>
                            <span style="text-decoration: line-through;">{{product.price | currency:"VND"}}</span>
                        </div>

                    </div>
                    <!-- <button class="btn btn-success" (click)="addProductToCart(product)">thêm vào giỏ hàng</button> -->
                </div>
            </div>
        </div>

    </div>
</div>