.item {
    cursor: pointer;
    transition: transform .2s;
    margin: 20px 0;
}
.box-item img {
    width: 300px;
}
.product_list {
 margin-top : 30px
}
 .menu-cate .menu-cate-title {
    position: relative;
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #ffffff;
    font-size: 14px;
    padding: 16px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
.menu-cate .menu-cate-title i.fa-chevron-circle-down {
    position: absolute;
    right: 7px;
    top: 15px;
    cursor: pointer;
  }
  .menu-cate .menu-cate-title i.fa-chevron-circle-down:hover {
    color: #aaaaaa;
  }
  .menu-cate .menu-cate-title a {
    color: #ffffff;
  }
  .menu-cate .menu-cate-title:hover ul.menu-cate-content {
    display: block !important;
  }
  .menu-cate i {
    font-size: 17px;
  }
  .menu-cate ul {
    background-color: #ffffff;
    position: absolute;
    height: 280px;
    width: 100%;
    z-index: 99;
  }
  .menu-cate ul li {
    position: relative;
  }
  .menu-cate ul li a {
    display: block;
    color: #aaaaaa;
    padding: 13px;
    text-transform: uppercase;
    position: relative;
    border: none;
  }
  .menu-cate ul li a:hover {
    color: #00bcd4;
  }
  .menu-cate ul li a:hover > span.arrow-menu {
    display: block;
  }
  .menu-cate ul li a > span.arrow-menu {
    display: none;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 10px;
  }
  .menu-cate ul li a i {
    margin-right: 10px;
  }
  .menu-cate ul li:hover .sub-menu {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .menu-cate ul li:last-child a {
    border-bottom: none;
  }
  .menu-cate ul li > .sub-menu {
    background: #ffffff none repeat scroll 0 0;
    position: absolute;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
    display: none;
    left: 100%;
    top: 0;
    width: 200%;
  }
  .menu-cate ul li > .sub-menu ul {
    float: left;
    height: auto;
    padding: 10px;
    position: relative;
    width: 50%;
    border: transparent;
  }
  .menu-cate ul li > .sub-menu ul li a {
    border-bottom: medium none;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    color: #3c3f44;
  }
  .menu-cate ul li > .sub-menu ul li ul.subview-menu {
    width: 100%;
    float: none;
    border: none;
  }
  .menu-cate ul li > .sub-menu ul li ul.subview-menu li a {
    font-weight: 200;
    text-transform: lowercase;
    color: #6c717a;
  }
  .menu-cate ul li > .sub-menu ul li ul.subview-menu li a::first-letter {
    text-transform: uppercase;
  }
  .menu-cate ul li > .sub-menu ul li ul.subview-menu li a:hover {
    color: #00bcd4;
  }
  .nav-menu {
    margin-bottom: 0;
    min-height: auto;
    border: none;
  }
  .nav-menu .mobile-menu {
    float: left;
  }
  .nav-menu .menu li a {
    font-size: 14px;
    color: #ffffff;
    height: 100%;
    padding: 16px 30px;
    text-transform: uppercase;
    height: 53px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
  }
  .nav-menu .menu li a:hover {
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #ffffff;
  }
  .nav-menu .menu li.active a {
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #ffffff;
  }
  .nav-menu .menu li ul.level1 {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 250px;
    background: #e9eaed none repeat scroll 0 0;
    box-shadow: 0 0 3px;
  }
  .nav-menu .menu li ul.level1:hover ul.level2 {
    display: block;
  }
  .nav-menu .menu li ul.level1 li a {
    border-right: 0 none;
    height: auto;
    padding: 15px;
    color: #3c3f44;
  }
  .nav-menu .menu li ul.level1 li a:hover {
    background-color: #00bcd4;
    color: #ffffff;
  }
  .nav-menu .menu li ul.level1 li ul.level2 {
    display: none;
    background: #e9eaed none repeat scroll 0 0;
  }
  .nav-menu .menu li:hover ul.level1 {
    display: block;
  }
  .nav-menu .menu li:hover ul.level1 li a {
    display: block;
  }
  .nav-menu .menu li:hover ul.level1 li:hover ul.level2 {
    display: block;
  }
  .nav-menu .menu li:hover ul.level1 li ul.level2 {
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0px;
  }
  .nav-menu .mini-cart {
    float: right;
    height: 53px;
    line-height: 38px;
    padding: 10px 0;
    position: relative;
  }

.navbar-nav {
    display: inline-block;
}
 .menu-cate-content  li {
     list-style: none;
  
}.menu-cate-content {
    padding: 0px !important;
}
.product-left .staff {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
 
}
.product-left .title {
  background:  #0010d4;
}
.product-left .contact {
  background-color: #f6f6f6;
  padding: 10px;
  font-weight: 500;
}
.product-left .title h2 {
  margin: 0;
  font-size: 16px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
}
.support-live {
  margin-bottom: 20px;
}
.item1 {
  display: inline-flex;
  padding: 10px;
  background: #ebebeb;
}
.item {
  background: #fff;
}
.des > p {
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.des {
  background: #ebebeb;
  margin-left: 10px;
}
.des  > span {
  font-weight: bold;
}
.detail {
  text-align: center;
}
.box-item1 {
  cursor: pointer;
  background: #fff;
}
.detail p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.item:hover {
  transform: scale(1.1);
  z-index: 10;
}
.new-product {
  position: relative;
}
.item1 {
  width: 100%;
}
.banner {
  margin:20px 0;
}
.banner .box-image-banner {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

}
.banner .box-image-banner img:hover {
  transform: scale(1.1);
}
.banner .box-image-banner img {
  width: 100%;
transition: transform .2s;  
}
.item-banner {
  height: 50%;
}
.slider-top  {
  margin-top: 20px;
}
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
.menu-cate-content {
  z-index: 1000 !important;
  box-shadow: 0 5px 11px 0 rgb(225 229 232 / 28%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  height: 100% !important;
  width: 300px !important;
}
.menu-cate-content ul li {
  border : none !important
}
.menu-cate-content li a:hover {
  text-decoration: none;
}