<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <span class="material-icons" style="margin-right : 10px">
                    local_shipping
                    </span>
                    <span>Miễn phí vẫn chuyển</span>
            </div>
            <div class="col-md-3">
                <span class="material-icons" style="margin-right : 10px">
                    chat
                    </span>
                    <span>Hỗ trợ 24/7</span>
            </div>    <div class="col-md-3">
                <span class="material-icons" style="margin-right : 10px">
                    local_atm
                    </span>
                    <span>Hoàn tiền trong 15 ngày</span>
            </div>    <div class="col-md-3">
                <span class="material-icons" style="margin-right : 10px">
                    grade
                    </span>
                    <span>Giảm giá theo đơn hàng</span>
            </div>
        </div>
    </div>
</div>
