<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="title">
                    Hỗ trợ khách hàng
                </div>
                <ul>
                    <li><a href="javascript:void(0)">Thẻ ưu đãi</a> </li>
                    <li><a href="javascript:void(0)">Trung tâm bảo hành</a> </li>
                    <li><a href="javascript:void(0)">Thanh toán giao hàng</a> </li>
                    <li><a href="javascript:void(0)">Dịch vụ sửa chữa bảo trì</a> </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="title">
                   Thông Tin Thiên An Computer
                </div>
                <ul>
                    <li><a href="javascript:void(0)">giới thiệu Thiên An Computer</a> </li>
                    <li><a href="javascript:void(0)">Thông tin Thiên An Computer </a> </li>
                    <li><a href="javascript:void(0)">Hỏi Đáp</a> </li>
                    <li><a href="javascript:void(0)">Hệ Thống Showroom</a> </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="title">
                   Cộng đồng Thiên An Computer
                </div>
                <ul>
                    <li><a href="javascript:void(0)">Thiên An Computer</a> </li>
                    <li><a href="javascript:void(0)">Thiên An Media</a> </li>
                    <li><a href="javascript:void(0)">Gọi mua hàng</a> </li>
                    <li><a href="javascript:void(0)">Gọi chăm sóc</a> </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="title">
                    Hỗ trợ khách hàng
                </div>
                <ul>
                    <li><a href="javascript:void(0)">Thẻ ưu đãi</a> </li>
                    <li><a href="javascript:void(0)">Trung tâm bảo hành</a> </li>
                    <li><a href="javascript:void(0)">Thanh toán giao hàng</a> </li>
                    <li><a href="javascript:void(0)">Dịch vụ sửa chữa bảo trì</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>