<div class="top-header">
</div>
<div class="header">
    <nav>
        <div class="nav-xbootstrap" id="fix-header">
            <div class="container">
                <div class="row">
                    <ul id="ul">
                        <li><a href="">
                                <div class="img" id="img"style="width : 350px">
                                    <img style="width : 100%" src="../../../assets/images/THIENAN1.png" alt="">
                                </div>
                            </a></li>
                        <li>
                            <section class="navigation-menu clearfix menu-none" id="fix">
                                <div class="container">
                                    <div class="menu-top">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="menu-cate menu-quick-select">
                                                    <div class="menu-cate-title" id="cate" (click)="showCate()" style="cursor: pointer;">
                                                        <span class="material-icons">
                                                            view_list
                                                        </span>
                                                        <span>Danh mục sản phẩm</span>
                                                        <i class="fa fa-chevron-circle-down"></i>
                                                    </div>
                                                    <ul class="menu-cate-content" id="block-child">
                                                        <li>
                                                            <a href="">
                                                                <!-- <span class="material-icons">
                                                                    camera_enhance
                                                                    </span>
                                                                    <span>Máy ảnh, máy quay phim</span> -->
                                                                    <i
                                                                    class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_3-20x20_png_pagespeed_ce_j-iqkcibbN.png"></i>
                                                                Máy t&#237;nh bảng<span class="arrow-menu"><i
                                                                        class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Máy quay phim</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Máy quy phim Sony</a>
                                                                            </li>
                                                                            <li><a href="">Máy quay phim
                                                                                    Panasonic</a></li>
                                                                            <li><a href="">Máy quay phim
                                                                                    Canon</a></li>
                                                                            <li><a href="">Máy quay phim JVC</a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Máy ảnh số</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Máy ảnh Canon</a></li>
                                                                            <li><a href="">Máy ảnh Panasonic</a>
                                                                            </li>
                                                                            <li><a href="">Máy ảnh Samsung</a>
                                                                            </li>
                                                                            <li><a href="">Máy ảnh Sony</a></li>
                                                                            <li><a href="">Máy ảnh Nikon</a></li>
                                                                            <li><a href="">Máy ảnh Casio</a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Bộ Đồ Thể Thao Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Phụ kiện</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Ch&#226;n máy</a></li>
                                                                            <li><a href="">Pin, Sạc</a></li>
                                                                            <li><a href="">Thẻ nhớ</a></li>
                                                                            <li><a href="">Lens hood</a></li>
                                                                            <li><a href="">Bộ vệ sinh</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i
                                                                    class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_5-20x20_png_pagespeed_ce_ou8xCNG4YJ.png"></i>
                                                                Máy để bàn Laptop<span class="arrow-menu"><i
                                                                        class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Máy để b&#224;n</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Máy t&#237;nh HP</a></li>
                                                                            <li><a href="">Máy tinh Dell</a></li>
                                                                            <li><a href="">Máy tinh Lenovo</a>
                                                                            </li>
                                                                            <li><a href="">Máy tinh Acer</a></li>
                                                                            <li><a href="">Máy tinh Asus</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Phụ kiện máy t&#237;nh</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">T&#250;i xách</a></li>
                                                                            <li><a href="">Ram</a></li>
                                                                            <li><a href="">Pin &amp; Sạc</a></li>
                                                                            <li><a href="">B&#224;n ph&#237;m &amp;
                                                                                    chuột</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Laptop</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Laptop Dell</a></li>
                                                                            <li><a href="">Laptop Asus</a></li>
                                                                            <li><a href="">Laptop Acer</a></li>
                                                                            <li><a href="">Laptop Hp</a></li>
                                                                            <li><a href="">Laptop Sony</a></li>
                                                                            <li><a href="">Laptop Lenovo</a></li>
                                                                            <li><a href="">Laptop Toshiba</a></li>
                                                                            <li><a href="">Laptop Samsung</a></li>
                                                                            <li><a href="">Laptop Apple</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i class="icon-menu fa "></i>
                                                                Điện thoại<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Điện thoại di động</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Điện thoại Samsung</a>
                                                                            </li>
                                                                            <li><a href="">Điện thoại Sony</a></li>
                                                                            <li><a href="">Điện thoại IPhone</a></li>
                                                                            <li><a href="">Điện thoại LG</a></li>
                                                                            <li><a href="">Điện thoại Nokia</a></li>
                                                                            <li><a href="">Điện thoại Asus</a></li>
                                                                            <li><a href="">Điện thoại HTC</a></li>
                                                                            <li><a href="">Điện thoại Lenovo</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Phụ kiện điện thoại</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Pin điện thoại</a></li>
                                                                            <li><a href="">Sạc điện thoại</a></li>
                                                                            <li><a href="">Bao da</a></li>
                                                                            <li><a href="">Phụ kiện khác</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Điện thoại cố định</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Điện thoại
                                                                                    Panasonic</a></li>
                                                                            <li><a href="">H&#227;ng khác</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i
                                                                    class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_3-20x20_png_pagespeed_ce_j-iqkcibbN.png"></i>
                                                                Máy t&#237;nh bảng<span class="arrow-menu"><i
                                                                        class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Theo h&#227;ng</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Tablet Apple</a></li>
                                                                            <li><a href="">Tablet Samsung</a></li>
                                                                            <li><a href="">Tablet Acer</a></li>
                                                                            <li><a href="">Tablet Asus</a></li>
                                                                            <li><a href="">Tablet Sony</a></li>
                                                                            <li><a href="">Tablet Coby</a></li>
                                                                            <li><a href="">Tablet MSI</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Phụ kiện Tablet</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">T&#250;i xách cho
                                                                                    Tablet</a></li>
                                                                            <li><a href="">Case, Ốp lưng</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i
                                                                    class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_4-20x20_png_pagespeed_ce_J1kY_BybUA.png"></i>
                                                                Thời trang<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Thời trang nam</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Giầy d&#233;p nam</a></li>
                                                                            <li><a href="">T&#250;i &amp; V&#237; nam</a>
                                                                            </li>
                                                                            <li><a href="">Phụ kiện nam</a></li>
                                                                            <li><a href="">Quần áo nam</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Trang sức &amp; Đồng hồ</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Trang sức thời
                                                                                    trang</a></li>
                                                                            <li><a href="">Trang sức cao cấp</a></li>
                                                                            <li><a href="">Đồng hồ thời trang</a>
                                                                            </li>
                                                                            <li><a href="">Đồng hồ cao cấp</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Thời trang nữ</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Phụ kiện nữ</a></li>
                                                                            <li><a href="">T&#250;i &amp; V&#237; nữ</a>
                                                                            </li>
                                                                            <li><a href="">Quần áo nữ</a></li>
                                                                            <li><a href="">Giầy d&#233;p nữ</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i
                                                                    class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_9-20x20_png_pagespeed_ce_G4vH-e1_d9.png"></i>
                                                                H&#224;ng gia dụng<span class="arrow-menu"><i
                                                                        class="fa fa-chevron-right "></i></span>
                                                            </a>
                                                            <div class="sub-menu hidden-xs">
                                                                <ul class="colum0">
                                                                    <li>
                                                                        <a href="">Đồ d&#249;ng gia đ&#236;nh</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Quạt máy
                                                                                    &amp; quat phun sương</a></li>
                                                                            <li><a href="">B&#224;n l&#224;</a></li>
                                                                            <li><a href="">Máy xấy t&#243;c</a></li>
                                                                            <li><a href="">Máy h&#250;t bụi</a></li>
                                                                            <li><a href="">B&#236;nh tắm nước
                                                                                    n&#243;ng</a></li>
                                                                            <li><a href="">Máy lọc nước</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="colum1">
                                                                    <li>
                                                                        <a href="">Đồ d&#249;ng nh&#224; bếp</a>
                                                                        <ul class="subview-menu">
                                                                            <li><a href="">Nồi cơm điện</a></li>
                                                                            <li><a href="">Nồi áp suất</a></li>
                                                                            <li><a href="">Bếp ga</a></li>
                                                                            <li><a href="">Bếp điện tử</a></li>
                                                                            <li><a href="">Bếp hồng ngoại</a></li>
                                                                            <li><a href="">L&#242; vi s&#243;ng</a></li>
                                                                            <li><a href="">L&#242; nướng</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li id="li">
                            <div>
                                <input type="text" placeholder="Bạn muốn mua gì hôm nay" class="input-search">
                                <div class="search" id="search">
                                    <span class="material-icons ">
                                        search
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li><a routerLink="/cart"><span class="material-icons" [matBadge]="cartService.count" id="cart"
                                    matBadgeOverlap="false" style="text-align:center; width: 100%;font-size: 30px;">
                                    shopping_cart
                                </span><br>Giỏ hàng</a></li>
                        <li><a routerLink="/buildPc" id="cart"> 
                                <span class="material-icons" style="text-align:center; width: 100%;font-size: 30px;">
                                    computer
                                </span><br>
                                BuidPc
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="search search-mobie">
        <input type="text" placeholder="Bạn muốn mua gì hôm nay" class="input-search">
        <span class="material-icons icon-search">
            search
        </span>
    </div>
    <section class="navigation-menu clearfix">
        <div class="container">
            <div class="menu-top">
                <div class="row">
                    <!-- <div class="col-md-3">
                        <div class="menu-cate menu-quick-select">
                            <div class="menu-cate-title" (click)="showCate()" style="cursor: pointer;">
                                <span class="material-icons">
                                    view_list
                                </span>
                                <span>Danh mục sản phẩm</span>
                                <i class="fa fa-chevron-circle-down"></i>
                            </div>
                            <ul class="menu-cate-content" id="block">
                                <li>
                                    <a href="">
                                        <i
                                            class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_7-20x20_png_pagespeed_ce_kzOx8kw31-.png"></i>
                                        Máy ảnh &amp; Máy quay phim<span class="arrow-menu"><i
                                                class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Máy quay phim</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Máy quy phim Sony</a>
                                                    </li>
                                                    <li><a href="">Máy quay phim
                                                            Panasonic</a></li>
                                                    <li><a href="">Máy quay phim
                                                            Canon</a></li>
                                                    <li><a href="">Máy quay phim JVC</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Máy ảnh số</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Máy ảnh Canon</a></li>
                                                    <li><a href="">Máy ảnh Panasonic</a>
                                                    </li>
                                                    <li><a href="">Máy ảnh Samsung</a>
                                                    </li>
                                                    <li><a href="">Máy ảnh Sony</a></li>
                                                    <li><a href="">Máy ảnh Nikon</a></li>
                                                    <li><a href="">Máy ảnh Casio</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Bộ Đồ Thể Thao Nam</a>
                                            </li>
                                            <li>
                                                <a href="">Phụ kiện</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Ch&#226;n máy</a></li>
                                                    <li><a href="">Pin, Sạc</a></li>
                                                    <li><a href="">Thẻ nhớ</a></li>
                                                    <li><a href="">Lens hood</a></li>
                                                    <li><a href="">Bộ vệ sinh</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <i
                                            class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_5-20x20_png_pagespeed_ce_ou8xCNG4YJ.png"></i>
                                        Máy để bàn Laptop<span class="arrow-menu"><i
                                                class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Máy để b&#224;n</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Máy t&#237;nh HP</a></li>
                                                    <li><a href="">Máy tinh Dell</a></li>
                                                    <li><a href="">Máy tinh Lenovo</a>
                                                    </li>
                                                    <li><a href="">Máy tinh Acer</a></li>
                                                    <li><a href="">Máy tinh Asus</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Phụ kiện máy t&#237;nh</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">T&#250;i xách</a></li>
                                                    <li><a href="">Ram</a></li>
                                                    <li><a href="">Pin &amp; Sạc</a></li>
                                                    <li><a href="">B&#224;n ph&#237;m &amp;
                                                            chuột</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Laptop</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Laptop Dell</a></li>
                                                    <li><a href="">Laptop Asus</a></li>
                                                    <li><a href="">Laptop Acer</a></li>
                                                    <li><a href="">Laptop Hp</a></li>
                                                    <li><a href="">Laptop Sony</a></li>
                                                    <li><a href="">Laptop Lenovo</a></li>
                                                    <li><a href="">Laptop Toshiba</a></li>
                                                    <li><a href="">Laptop Samsung</a></li>
                                                    <li><a href="">Laptop Apple</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="icon-menu fa "></i>
                                        Điện thoại<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Điện thoại di động</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Điện thoại Samsung</a>
                                                    </li>
                                                    <li><a href="">Điện thoại Sony</a></li>
                                                    <li><a href="">Điện thoại IPhone</a></li>
                                                    <li><a href="">Điện thoại LG</a></li>
                                                    <li><a href="">Điện thoại Nokia</a></li>
                                                    <li><a href="">Điện thoại Asus</a></li>
                                                    <li><a href="">Điện thoại HTC</a></li>
                                                    <li><a href="">Điện thoại Lenovo</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Phụ kiện điện thoại</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Pin điện thoại</a></li>
                                                    <li><a href="">Sạc điện thoại</a></li>
                                                    <li><a href="">Bao da</a></li>
                                                    <li><a href="">Phụ kiện khác</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Điện thoại cố định</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Điện thoại
                                                            Panasonic</a></li>
                                                    <li><a href="">H&#227;ng khác</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <i
                                            class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_3-20x20_png_pagespeed_ce_j-iqkcibbN.png"></i>
                                        Máy t&#237;nh bảng<span class="arrow-menu"><i
                                                class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Theo h&#227;ng</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Tablet Apple</a></li>
                                                    <li><a href="">Tablet Samsung</a></li>
                                                    <li><a href="">Tablet Acer</a></li>
                                                    <li><a href="">Tablet Asus</a></li>
                                                    <li><a href="">Tablet Sony</a></li>
                                                    <li><a href="">Tablet Coby</a></li>
                                                    <li><a href="">Tablet MSI</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Phụ kiện Tablet</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">T&#250;i xách cho
                                                            Tablet</a></li>
                                                    <li><a href="">Case, Ốp lưng</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <i
                                            class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_4-20x20_png_pagespeed_ce_J1kY_BybUA.png"></i>
                                        Thời trang<span class="arrow-menu"><i class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Thời trang nam</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Giầy d&#233;p nam</a></li>
                                                    <li><a href="">T&#250;i &amp; V&#237; nam</a>
                                                    </li>
                                                    <li><a href="">Phụ kiện nam</a></li>
                                                    <li><a href="">Quần áo nam</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Trang sức &amp; Đồng hồ</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Trang sức thời
                                                            trang</a></li>
                                                    <li><a href="">Trang sức cao cấp</a></li>
                                                    <li><a href="">Đồng hồ thời trang</a>
                                                    </li>
                                                    <li><a href="">Đồng hồ cao cấp</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Thời trang nữ</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Phụ kiện nữ</a></li>
                                                    <li><a href="">T&#250;i &amp; V&#237; nữ</a>
                                                    </li>
                                                    <li><a href="">Quần áo nữ</a></li>
                                                    <li><a href="">Giầy d&#233;p nữ</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <i
                                            class="icon-menu fa /Uploads/shop90/images/icon/i_catelogy_9-20x20_png_pagespeed_ce_G4vH-e1_d9.png"></i>
                                        H&#224;ng gia dụng<span class="arrow-menu"><i
                                                class="fa fa-chevron-right "></i></span>
                                    </a>
                                    <div class="sub-menu hidden-xs">
                                        <ul class="colum0">
                                            <li>
                                                <a href="">Đồ d&#249;ng gia đ&#236;nh</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Quạt máy
                                                            &amp; quat phun sương</a></li>
                                                    <li><a href="">B&#224;n l&#224;</a></li>
                                                    <li><a href="">Máy xấy t&#243;c</a></li>
                                                    <li><a href="">Máy h&#250;t bụi</a></li>
                                                    <li><a href="">B&#236;nh tắm nước
                                                            n&#243;ng</a></li>
                                                    <li><a href="">Máy lọc nước</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="colum1">
                                            <li>
                                                <a href="">Đồ d&#249;ng nh&#224; bếp</a>
                                                <ul class="subview-menu">
                                                    <li><a href="">Nồi cơm điện</a></li>
                                                    <li><a href="">Nồi áp suất</a></li>
                                                    <li><a href="">Bếp ga</a></li>
                                                    <li><a href="">Bếp điện tử</a></li>
                                                    <li><a href="">Bếp hồng ngoại</a></li>
                                                    <li><a href="">L&#242; vi s&#243;ng</a></li>
                                                    <li><a href="">L&#242; nướng</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-md-12 ">
                        <nav class="navbar nav-menu">
                            <div class="navbar-header">
                                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                    data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
                                    <span class="material-icons">
                                        view_list
                                    </span>
                                </button>
                            </div>
                            <nav id="mobile-menu" class="mobile-menu collapse navbar-collapse">
                                <ul class='menu nav navbar-nav'>
                                    <li class="level0" style="
                                    margin-left: 135px;
                                "><a href=''><span>Trang chủ</span></a></li>
                                    <li class="level0"><a href='javascript:void(0)' routerLink=""><span>Giới
                                                thiệu</span></a></li>
                                    <li class="level0"><a routerLink=""><span>Sản phẩm</span></a></li>
                                    <li class="level0"><a routerLink="/tin-tuc" (click)="handle()"><span>Tin tức</span></a></li>
                                    <li class="level0"><a routerLink="/contact"><span>Liên hệ</span></a></li>
                                    <li class="level0"><a><span>Điểu khoản sử dụng</span></a></li>
                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <span class="material-icons" id="myBtn">
        arrow_circle_up
    </span>
</div>